<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta http-equiv="refresh" content="6;url=http://kiki.to<%= current_page.url %>">
    <title>Redirecting to kiki.to</title>
    <script type="text/javascript">
      settimeout(1050, function() {
        window.location.href = "http://kiki.to<%= current_page.url %>";
      });
    </script>
    <%= stylesheet_link_tag "style" %>
  </head>

  <body class="<%= page_classes %>">
    <section class="main">
      <h1>Redirecting to kiki.to ...</h1>
      <p>This page has moved to:<p>
      <ul><li><a href="http://kiki.to<%= current_page.url %>">http://kiki.to<%= current_page.url %></a></li></ul>
      <p>If you are not automatically redirected, please click the link above.</p>
    </section>
  </body>
</html>
